  <head>
    <title>{{ site.data.resume.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/resume.css">
    <link rel="shortcut icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/2258/2258479.png">
  </head>